<is-land on:idle>
  <div
    role="region"
    class="theme-switch | cluster mt-xs"
    style="--cluster-horizontal-alignment: center; --gutter: 0.5rem"
    aria-labelledby="theme-switcher-label"
    data-theme-switcher
  >
    <div 
      id="theme-toggle" class="cursor-pointer" aria-pressed="false" 
    >
      {% svg "misc/sun", "Light Theme Toggle", "theme-switch light-theme-toggle", "cursor: pointer; block-size: 2ex;" %}
    </div>
 </div>
</is-land>
